body {
    background-color: rgb(29, 111, 121);
    color: black;
    
    margin: 0; /* Optional: Remove default body margin */
    padding: 0; /* Optional: Remove default body padding */
  }
  